html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
}

::-webkit-scrollbar {
  width: 12px;  
}

::-webkit-scrollbar-track {
  background: #eb9258;  
}

::-webkit-scrollbar-thumb {
  background: rgb(216, 82, 19); 
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 60, 0);  
}

::selection {
  background-color: rgb(255, 115, 0);
  color: black; 
}

.nav-link-hover:hover {
  transform: scale(1.05); 
  transition: transform 0.1s; 
}

.background-section {
  background-color: none;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 50vh;
}

.background-section2 {
  /* background-color: rgb(255, 0, 43); */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 70vh; 
}

.background-maps {
  /* background-color: rgb(204, 65, 88); */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;  
  padding-top: 30%; 
}

.background-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.background-space {
  /* background-color: rgb(255, 0, 43); */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 10vh; 
}

.background-contact {
  /* background-color: rgb(255, 0, 43); */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 25vh; 
}

.carousel-item {
  height: 100%; 
}

.text-first{
  font-size: 70px;
  text-align: center;
  font-family: 'Roboto-Regular'; 
}

.text-before{
  font-size: 50px;
  text-align: center;
  font-family: 'Roboto-Regular'; 
}

.text-description{
  font-size: 30px;
  text-align: center;
  font-family: 'Roboto-Regular'; 
  background-color: #face8c;
  border-radius: 10px; 
  display: inline-block; 
  margin: 0 auto;
}

.whatsapp-float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50%;
  text-align: center;
  font-size: 30px;
  box-shadow: 1px 1px 2px #888;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-whatsapp {
  margin-top: 16px;
}

@media (min-width: 768px) and (max-width: 900px){
  .background-section, .background-section2 {
    min-height: 40vh;
  }

  .text-first{
    font-size: 70px;
    text-align: center;
  }

  .text-before{
    font-size: 50px;
  }

  .text-description{
    font-size: 35px;
    text-align: center;
    font-family: 'Roboto-Regular'; 
  }

  .background-maps {
    /* background-color: rgb(204, 65, 88); */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;  
    padding-top: 80%; 
  }
}

@media (min-width: 587px) and (max-width: 767px) {
  .background-section, .background-section2 {
      min-height: 40vh;
  }

  .text-first{
    font-size: 50px;
    text-align: center;
  }

  .text-before{
    font-size: 30px;
  }

  .background-maps {
    /* background-color: rgb(204, 65, 88); */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;  
    padding-top: 80%; 
  }
}

@media (max-width: 280px) {
  .background-section, .background-section2 {
      min-height: 10vh;
  }

  .text-first{
    font-size: 35px;
    text-align: center;
  }

  .text-before{
    font-size:25px;
  }

  .text-description{
    font-size: 20px;
    text-align: center;
    font-family: 'Roboto-Regular'; 
  }

  .background-maps {
    /* background-color: rgb(204, 65, 88); */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;  
    padding-top: 80%; 
  }
}

@media (min-width: 300px) and (max-width: 400px) {
  .background-section, .background-section2 {
      min-height: 40vh;
  }

  .text-first{
    font-size: 45px;
    text-align: center;
    font-family: 'Roboto-Regular'; 
  }
  
  .text-before{
    font-size: 30px;
    text-align: center;
    font-family: 'Roboto-Regular'; 
  }
  
  .text-description{
    font-size: 24px;
    text-align: center;
    font-family: 'Roboto-Regular'; 
  }

  .background-maps {
    /* background-color: rgb(204, 65, 88); */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;  
    padding-top: 80%; 
  }
}

@media (min-width: 401px) and (max-width: 586px){
  .background-section, .background-section2 {
    min-height: 40vh;
  }

  .text-first{
    font-size:55px;
    text-align: center;
    font-family: 'Roboto-Regular'; 
  }

  .text-before{
    font-size: 40px;
    text-align: center;
    font-family: 'Roboto-Regular'; 
  }

  .text-description{
    font-size: 28px;
    text-align: center;
    font-family: 'Roboto-Regular'; 
  }

  .background-maps {
    /* background-color: rgb(204, 65, 88); */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;  
    padding-top: 80%; 
  }

}

@font-face {
  font-family: 'Roboto-Regular';
  src: local('Roboto-Regular'), url(./fonts/Roboto-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Super-Spicy-Personal-Use';
  src: local('Super-Spicy-Personal-Use'), url(./fonts/Super-Spicy-Personal-Use.ttf) format('truetype');
}




