.background-section {
  background-color: blue;
  /* background-image: url('endereço-da-imagem-aqui'); */
  background-size: cover;
  background-position: center;
  min-height: 50vh;
}

@media (max-width: 768px) {
  .background-section {
      min-height: 30vh;
  }
}
